[submodule "awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain
[submodule "awesome/awesome/lain2"]
	path = awesome/awesome/lain2
	url = https://github.com/lcpz/lain
[submodule "awesome/lain2"]
	path = awesome/lain2
	url = https://github.com/lcpz/lain
